<h1><%= @list.user %>'s List</h1>

  <ul>
    <% @list.list_items.each do |item| %>
      <li> <%= item.amount %> | <%= item.name %> </li>
    <% end %>
  </ul>

  <h1>Add Items to Your List</h1>

<%= simple_form_for([@list, @list.list_items.build]) do |f| %>
  <%= f.association :food %>
  <%= f.input :amount %>
  <%= f.button :submit %>
<% end %>

