
<ul class="small-block-grid-2 large-block-grid-3 columns">

  <li class="card">
    <div class="content">
      <h5>Users</h5>

      <% if current_user %>

        <ul>
          <li> <%= link_to "Your Profile", current_user %> </li>
          <li> <%= link_to "See All Users", users_path %> </li>
        </ul>
      <% else %>
        <h5>Sign in To View Your Profile or Find Other Users</h5>
      <% end %>
    </div>
  </li>

  <li class="card">
    <div class="content">
      <h5>Foods</h5>

      <% if current_user %>
        <ul>
          <li> <%= link_to "Add a New Food", new_food_path %> </li>
          <li> <%= link_to "See All Foods in the Database", foods_path %> </li>
        </ul>
      <% else %>
        <h5>Sign in To See a List of Food or Add New Foods</h5>
      <% end %>
    </div>
  </li>


  <li class="card">
    <div class="content">
      <h5>Lists</h5>

      <% if current_user %>
        <%= link_to "Make a New List", new_list_path %>
      <% else %>
        <h5>Sign in To Add a New Grocery List</h5>
      <% end %>
    </div>
  </li>


</ul>


