<div class="bar">
  <div class="row">

      <ul class="small-block-grid-3 columns">

        <li>
          <div class="top-card">
            <%= image_tag "cake_making.jpg" %>
            <ul>
              <li> <%= link_to "View Your Profile", current_user %> </li>
              <li> <%= link_to "Create a New List", new_list_path %> </li>
            </ul>
          </div>
        </li>

        <li>
          <div class="top-card">
            <%= image_tag "fruit_stall.jpg", height: "187", width: "300" %>
            <ul>
              <li> <%= link_to "View a List of All Users", users_path %> </li>
            <ul>
          </div>
        </li>

        <li>
          <div class="top-card">
            <%= image_tag "autumn_fruits.jpg" %>
            <ul>
              <li>Search for a User (coming soon)</li>
            </ul>
          </div>
        </li>

      </ul>


  </div>
</div>
