<h1><%= @user.email %></h1>
<% unless current_user.friends.include?(@user) || @user == current_user %>
  <%= link_to 'Send Friend Request', request_user_path(@user) %>
<% end %>

<ul>
  <% @user.friends.each do |friend| %>
    <li>
      <%= link_to friend.email, user_path(friend) %> | <%= link_to 'Remove', remove_friendship_user_path(friend) %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <h1><%= @user.email %>'s Pending Friend Requests</h1>
  <ul>
    <% @user.friendships_received.unconfirmed.each do |friendship| %>
      <%= friendship.user.email %>| <%= link_to 'Accept', accept_user_path(friendship.user) %>
    <% end %>
  </ul>
<% end %>


<h3>Recommendations: </h3>
<ul>
  <% @user.recommendations.each do |item_name, item_attributes| %>
    <li> <%= item_name %> | Bulk Units: <%= item_attributes[:bulk_total_amount] %> | Total Cost: <%= "$#{ sprintf('%.2f'%item_attributes[:bulk_total_price]) }" %>
      <ul>
      <% item_attributes[:item_list].each do |item| %>
        <li>  <%= item.list.user.email %> | Share: <%= "#{ sprintf('%.2f'%item.share).to_i }" %> <%= item.food.unit.name.pluralize(item.share) %> | Contribution: <%= " $#{ sprintf('%.2f'%item.contribution)}" %>
        </li>
      <% end %>
      </ul>
    </li>
  </ul>
  <% end %>


<h3>Matches:</h3>
  <% @user.total_items_by_name.each do |matched_array| %>
    <% matched_array.each do |item| %>
      <li><%= item.food.name %> | <%= item.list.user.email %></li>
    <% end %>
  <% end %>

<h3>Current Items:</h3>
  <% @user.items.each do |item| %>
    <li><%= item.amount %> <%= item.food.unit.name.pluralize(item.amount) %> | <%= item.food.name %> </li>
  <% end %>

<h3><%= @user.email %>'s Current Grocery Lists:</h3>
  <% @user.lists.current.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>

<h3><%= @user.email %>'s Grocery Lists:</h3>

  <% @user.lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>




