<div class ="top-content" >
  <h1><%= @bulk.food.name %>'s Page</h1>
</div>

<%= render 'foods/food_bar' %>

<div class="content">
  <h1>Bulk Purchase Unit:</h1>

  <p>Food Name: <%= @bulk.food.name %></p>

  <p>Amount: <%= @bulk.amount %></p>

  <p>Price: <%= @bulk.price %></p>
</div>
