<div class="bar">
  <div class="row">

      <ul class="small-block-grid-3 columns">

        <li>
          <div class="top-card">
            <%= image_tag "cake_making.jpg" %>
            <%= link_to "Add a New Food", new_food_path %>
          </div>
        </li>

        <li>
          <div class="top-card">
            <%= image_tag "fruit_stall.jpg", height: "187", width: "300" %>
            <%= link_to "View a List of All Foods", foods_path %>
          </div>
        </li>

        <li>
          <div class="top-card">
            <%= image_tag "autumn_fruits.jpg" %>
            <p> Search for a Food (coming soon) </p>
          </div>
        </li>

      </ul>


  </div>
</div>
