<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1>
              <li>
                <% if current_user %>
                  <%= link_to "Bulk Smash! Welcome #{current_user.email}!", root_path %>
                <% else %>
                  <%= link_to "Bulk_Smash", root_path %>
                <% end %>
              </li>
          </a>
        </h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">

        <% if current_user %>
          <li> <%= link_to "View Your Recommendations!", user_path(current_user) %> </li>
          <li class="has-dropdown">
            <a href="#">Navigation</a>
            <ul class="dropdown">
              <li> <%= link_to "See All Users", users_path %> </li>
              <li> <%= link_to "Create a New List", new_list_path  %> </li>
              <li> <%= link_to "Add a New Food Type", new_food_path %> </li>
              <li> <%= link_to "Add a New Unit Type", new_unit_path %> </li>
            </ul>
          </li>

        <% end %>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <% if user_signed_in? %>
          <li><%= link_to "Edit profile", edit_user_registration_path(current_user) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
